.nav {
    grid-area: n;
    background-color: #6a40e2;
    padding: 40px 0 0 60px;
    font-size: 25px;
    line-height: 2.5;

}
.item a {
    color: white;
    text-decoration: none;
}
.item a.active {
    color: #ffdc00;
}