.nav {
    grid-area: nav;
    background-color: #6a40e2;
    padding: 10px;
    /*font-size: 25px;*/
    /*line-height: 2.5;*/

}
/*.item a {
    color: white;

}
.item a.active {
    color: #ffdc00;
}*/
.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    border-bottom: 1px solid white;
}

.nav a.active  {
    font-weight: bold;
    color: #ffdc00;
}