.dialogs {
    display: grid;
    grid-template-areas:
            "dialogs message";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 4fr 10fr;
    grid-gap: 2px;
    height: 100vh;
    padding: 35px 0px 0px 20px;
    font-size: 20px;
    /*color: white;*/
    line-height: 2.5;

}

.dialogs_items {
    /*color: gold;*/
    /*text-decoration: none;*/

}

.messages_items {
    /*color: gold;*/
}