.dialogs {
    display: grid;
    grid-template-areas:
            "d m";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 2px;
    height: 100vh;
    padding: 35px 0px 0px 20px;
    font-size: 25px;
    color: white;
    line-height: 2.5;

}

.dialogs_items {

}
.dialogs a{
    text-decoration: none;
    color: white;
}

.dialogs_items .active {
    color: gold;
    /*text-decoration: none;*/

}

.messages_items .active {
    color: gold;
}

.message {

}